@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen  and (max-width:992px){
    body{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color:hsl(0, 0%, 95%) ;
    }
    div{
        width: 350px;
        padding: 45px;
        color: white;
    }
    img{
        margin-bottom: 30px;
    }
    h1{
        margin-bottom: 35px;
    }
    p{
        line-height: 25px;
        font-weight: lighter;
        color:hsla(0, 0%, 100%, 0.75) ;
    }
    button{
        margin-top: 20px;
        padding: 15px;
        width: 150px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
    
    .um{
        margin-top: 20px;
        background-color: hsl(31, 77%, 52%) ;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        
    }
    .dois{
        background-color: hsl(184, 100%, 22%);
    }
    .tres{
        background-color:hsl(179, 100%, 13%) ;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 20px;
    }
    #ft{
        background-color: gray;
    }    
}
@media screen and (min-width:992px)  {

    body{
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color:hsl(0, 0%, 95%) ;
    }
    div{
        width: 400px;
        height: 650px;
        padding: 45px;
        color: white;
        font-size: 21px;
    }
    img{
        margin-bottom: 30px;
    }
    h1{
        margin-bottom: 35px;
    }
    p{
        line-height: 34px;
        font-weight: lighter;
        color:hsla(0, 0%, 100%, 0.75) ;
    }
    button{
        margin-top: 150px;
        padding: 18px;
        width: 195px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    .um{
        background-color: hsl(31, 77%, 52%) ;     
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;  
    }
    .dois{
        background-color: hsl(184, 100%, 22%);
    }
    .tres{
        background-color:hsl(179, 100%, 13%) ;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
   /* #ft{
        background-color: gray;
    }*/
}